<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:form id="empleado">
		<h:panelGrid columns="3">
            DNI:
            <h:inputText id="dni" value="#{empleadoBean.dni}" required="true">
				<rich:validator />
			</h:inputText>
			<rich:message for="dni" />

            Nombre:
            <h:inputText id="nombre" value="#{empleadoBean.nombre}" required="true">
				<rich:validator />
			</h:inputText>
			<rich:message id="m1" for="nombre" />

            Apellidos:
            <h:inputText id="apellidos" value="#{empleadoBean.apellidos}">
				<rich:validator />
			</h:inputText>
			<rich:message for="apellidos" />

			<h:commandButton value="grabar" action="#{empleadoBean.btnGuardar()}" />
			<a4j:commandButton value="grabar ajax" render="out" action="#{empleadoBean.btnGuardar()}" />
		</h:panelGrid>
            
        out:
        <h:panelGroup id="out">
            DNI:<h:outputText value="#{empleadoBean.dni}" />
            Nombre:<h:outputText value="#{empleadoBean.nombre}" />
            Apellido:<h:outputText value="#{empleadoBean.apellidos}" />
		</h:panelGroup>


		<rich:messages></rich:messages>
	</h:form>
</ui:composition>