<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
>
	<h:body>
		<rich:panel id="panelId">
			<h:outputText styleClass="bold-hello-world" value="#{i18n['PruebasRichFacesJSF-hello-world']}" />
		</rich:panel>
		<ul>
			<li><em><h:outputText value="#{product.JSF}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_BRIDGE}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_BRIDGE_EXT}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_UTIL}" /></em></li>
			<li><em><h:outputText value="#{product.RICHFACES}" /></em></li>
		</ul>
		<ul>
			<li><h:link outcome="dragdrop" >Prueba dragydrop</h:link></li>
			<li><h:link outcome="empleado" >Prueba bean validation rich</h:link></li>
			<li><h:link outcome="pass" >Prueba bean validation rich password</h:link></li>
		</ul>
	</h:body>
</f:view>
